@page
@model BankApp.Pages.AccountDB.AccountImageModel
@{

}





<div class="card">
    <div class="card-header">
        Account owner: @Model.OwnerCustomer.Givenname @Model.OwnerCustomer.Surname
    </div>
    <div class="card-body">
        <a 
           asp-page="/CustomerDB/CustomerImage"
           asp-route-customerId="@Model.OwnerCustomerId"
           asp-route-pageSize="10">
            <div class="btn btn-primary">
                View account owner
                <i class="fa-solid fa-user"></i>
            </div>
        </a>
    </div>
</div>



@if (Model.DisponentCustomerId != 0)
{
    <div class="card">
        <div class="card-header">
            Account disponent: @Model.DisponentCustomer.Givenname @Model.DisponentCustomer.Surname
        </div>
        <div class="card-body">
            <a 
               asp-page="/CustomerDB/CustomerImage"
               asp-route-customerId="@Model.DisponentCustomerId"
               asp-route-pageSize="10">
                <div class="btn btn-primary">
                    View account disponent
                    <i class="fa-solid fa-user"></i>
                </div>
            </a>
        </div>
    </div>
}


@if (Model.Cards.Any() == true)
{
    <div class="card">
        <div class="card-header">   
            <h1>
                <i class="fa-solid fa-credit-card"></i>
                Cards
            </h1>
        </div>
        <div class="card-body">
            <table class="table">

                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Issued
                    </th>
                    <th>
                        CC Type
                    </th>
                    <th>
                        CC Number
                    </th>
                    <th>
                        Cvv
                    </th>
                    <th>
                        Expiration month
                    </th>
                <tr>

                @foreach (var card in Model.Cards)
                {
                    <tr>
                        <td>
                            @card.CardId
                        </td>
                        <td>
                            @card.Type
                        </td>
                        <td>
                            @card.Issued
                        </td>
                        <td>
                            @card.Cctype
                        </td>
                        <td>
                            @card.Ccnumber
                        </td>
                        <td>
                            @card.Cvv2
                        </td>
                        <td>
                            @card.ExpM / @card.ExpY
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}


<div class="card">
    <div class="card-header">
        <h1>
            <i class="fa-solid fa-money-bill-transfer"></i>
            All Transactions
        </h1>
    </div>
    <div class="card-body">

		Number of transactions per page:

        <a class="btn btn-primary"
            asp-page="AccountImage" 
            asp-route-accountId="@Model.AccountId" 
            asp-route-pageSize="5">
            5
        </a>

        <a class="btn btn-primary"
            asp-page="AccountImage" asp-route-accountId="@Model.AccountId" 
            asp-route-pageSize="10">
            10
        </a>

        <a class="btn btn-primary"
            asp-page="AccountImage" 
            asp-route-accountId="@Model.AccountId" 
            asp-route-pageSize="20">
            20
        </a>

        <table class="table" id="transactions-table">
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Operation</th>
                <th>Amount</th>
                <th>Balance</th>
                <th>Symbol</th>
                <th>Bank</th>
            </tr>


        </table>
        <a class="btn btn-primary" href="javascript:showMore();">
            <i class='bx bx-chevron-down'></i>
            Show More
        </a>
    </div>
</div>

<a class="btn btn-primary"
   asp-page="/AccountDB/Index">
    Back to List
</a>

@section Scripts
{
    <script>
        pageNo = 1;

        const accountId = '@Model.AccountId';
        const pageSize = '@Model.PageSize';

        document.addEventListener("DOMContentLoaded", function () {
                    showMore();
                });

                function showMore() {
                    fetch(`AccountImage?handler=ShowMore&pageNo=${pageNo}&accountId=${accountId}&pageSize=${pageSize}`)
                        .then((response) => response.json())
                        .then((json) => {
                            pageNo += 1;
                            json.listOfTransactions.forEach(drawElements);
                        });
                }

                function drawElements(element) {
                    document.querySelector('#transactions-table tbody').innerHTML +=
                        `<tr>
                            <td>${new Date(element.date).toLocaleDateString()}</td>
                            <td>${element.type}</td>
                            <td>${element.operation}</td>
                            <td>${element.amount}</td>
                            <td>${element.balance}</td>
                            <td>${element.symbol}</td>
                            <td>${element.bank}</td>
                        </tr>`;
                }

    </script>
}

