@page
@model BankApp.Pages.AccountDB.IndexModel



<div class="card">
    <div class="card-header">
        <h1>All Accounts</h1>
    </div>
    <div class="card-body">

        Results per page:

        <a class="btn btn-primary"
           asp-page="Index" 
           asp-route-pageSize="10">
            10
        </a>

        <a class="btn btn-primary"
           asp-page="Index"
           asp-route-pageSize="20">
            20
        </a>

        <a class="btn btn-primary"
           asp-page="Index"
           asp-route-pageSize="50">
            50
		</a>

        <a class="btn btn-primary"
           asp-page="Index"
           asp-route-pageSize="100">
            100
		</a>


        <table class="table">
            <tr>
                <th>Account number</th>
                <th>Balance</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var acc in Model.Accounts)
            {
                <tr>
                    <td>@acc.AccountId</td>
                    <td>@acc.Balance</td>
                    <td></td>
                    <td>
                        <a asp-page="AccountImage" asp-route-accountId="@acc.AccountId" asp-route-pageSize="10" class="btn btn-primary">
                            <i class="fa-solid fa-file-invoice-dollar"></i>
                            View
                        </a>
                    </td>
                    <td>
                        <a asp-page="Withdraw" asp-route-accountId="@acc.AccountId" class="btn btn-primary">
                            <i class="fa-solid fa-circle-minus"></i>
                            Withdraw
                        </a>
                    </td>
                    <td>
                        <a asp-page="Deposit" asp-route-accountId="@acc.AccountId" class="btn btn-primary">
                            <i class="fa-solid fa-circle-plus"></i>
                            Deposit
                        </a>
                    </td>

                </tr>
            }

            <tr>
                <td>
                    @if (Model.PageNo != 1)
                    {
                        <a class="btn btn-secondary"
                           asp-page="/AccountDB/Index"
                           asp-route-pageNo="@(Model.PageNo-1)">
                            <i class="fa-solid fa-arrow-left"></i>
                            Prev
                        </a>
                    }
                </td>


                <td colspan="2">
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <a class="btn @(Model.PageNo == i ? "btn-primary" : "btn-secondary")"
                           asp-page="/AccountDB/Index"
                           asp-route-pageNo="@i">
                            @i
                        </a>
                    }
                </td>


                <td>
                    @if (Model.PageNo != Model.PageCount)
                    {
                        <a class="btn btn-secondary"
                           asp-page="/AccountDB/Index"
                           asp-route-pageNo="@(Model.PageNo + 1)">
                            Next
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    }
                </td>


            </tr>
        </table>
    </div>
</div>
