@page
@model BankApp.Pages.CustomerDB.CustomerImageModel
@{
    var customer = Model.CustomerToView;
}

<div class="card">
    <div class="card-header">
        <h1>        
            <i class="fa-solid fa-circle-info"></i>
            Customer Info
        </h1>
    </div>


    <div class="card-body">
        <table class="table">
            <tbody>

                <tr>
                    <th>
                        Customer ID: 
                    </th>
                    <td>
                        @customer.CustomerId
                    </td>
                </tr>

                <tr>
                    <th>
                        Total balance: 
                    </th>
                    <td>
                        @customer.TotalBalance
                    </td>
                </tr>


                <tr>
                    <th>
                        First name: 
                    </th>
                    <td>
                        @customer.Givenname
                    </td>
                </tr>

                <tr>
                    <th>
                        Last name: 
                    </th>
                    <td>
                        @customer.Surname
                    </td>
                </tr>

                <tr>
                    <th>
                        Gender: 
                    </th>
                    <td>
                        @customer.Gender
                    </td>
                </tr>

                <tr>
                    <th>
                        Street address: 
                    </th>
                    <td>
                        @customer.Streetaddress
                    </td>
                </tr>

                <tr>
                    <th>
                        City:
                    </th>
                    <td>
                        @customer.City
                    </td>
                </tr>

                <tr>
                    <th>
                        Zip code:
                    </th>
                    <td>
                        @customer.Zipcode
                    </td>
                </tr>

                <tr>
                    <th>
                        Country:
                    </th>
                    <td>
                        @customer.Country (@customer.CountryCode)
                    </td>
                </tr>

                <tr>
                    <th>
                        National Id:
                    </th>
                    <td>
                        @customer.NationalId
                    </td>
                </tr>

                <tr>
                    <th>
                        Telephone number:
                    </th>
                    <td>
                        (+@customer.Telephonecountrycode) @customer.Telephonenumber
                    </td>
                </tr>

                <tr>
                    <th>
                        Birthday:
                    </th>
                    <td>
                        @customer.Birthday.ToString()
                    </td>
                </tr>

                <tr>
                    <th>
                        Email address:
                    </th>
                    <td>
                        @customer.Emailaddress
                    </td>
                </tr>




            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h1>
            <i class="fa-solid fa-file-invoice-dollar"></i>
            All Accounts
        </h1>
    </div>


    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Number

                    </th>
                    <th>
                        Balance

                    </th>
                    <th>
                        Frequency

                    </th>
                    <th>
                        Date Created

                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var disposition in Model.Dispositions)
                {
                    var account = disposition.Account;

                    <tr>
                        <td>@account.AccountId</td>
                        <td>@account.Balance</td>
                        <td>@account.Frequency</td>
                        <td>@account.Created</td>
                        <td>
                            <a class="btn btn-primary" 
                                asp-page="/AccountDB/AccountImage" 
                                asp-route-accountId="@disposition.Account.AccountId" 
                                asp-route-pageSize="10" >
                                View
                            </a>
                        </td>

                    </tr>
                }



            </tbody>
        </table>
    </div>
</div>


<a class="btn btn-primary"
   asp-page="/CustomerDB/Index">
    Back to List
</a>

