@page
@model BankApp.Pages.CustomerDB.IndexModel

<div class="card">
    <div class="card-header">
        <h1>All Customers</h1>
    </div>


    <div class="card-body">
        <h3>Page @Model.PageNo of @Model.PageCount   </h3>


        @*Search*@
        <form method="get" id="search-form" >


            <input asp-for="@Model.Q" />


            <button id="search-button-name" class="btn btn-secondary">
                Search customers by name
            </button>

            <button id="search-button-city"  class="btn btn-secondary" >
                Search customers by city
            </button>

            
        </form>




        Results per page:

        <a class="btn btn-primary"
           asp-page="/CustomerDB/Index"
           asp-route-q="@Model.Q"
           asp-route-searchSubject="@Model.SearchSubject"
           asp-route-sortColumn="@Model.SortColumn"
           asp-route-sortOrder="@Model.SortOrder"
           asp-route-pageNo="@Model.PageNo"
           asp-route-pageSize="10">
            10
        </a>
        <a class="btn btn-primary"
           asp-page="/CustomerDB/Index"
           asp-route-q="@Model.Q"
           asp-route-searchSubject="@Model.SearchSubject"
           asp-route-sortColumn="@Model.SortColumn"
           asp-route-sortOrder="@Model.SortOrder"
           asp-route-pageNo="@Model.PageNo"
           asp-route-pageSize="20">
            20
        </a>
        <a class="btn btn-primary"
           asp-page="/CustomerDB/Index"
           asp-route-q="@Model.Q"
           asp-route-searchSubject="@Model.SearchSubject"
           asp-route-sortColumn="@Model.SortColumn"
           asp-route-sortOrder="@Model.SortOrder"
           asp-route-pageNo="@Model.PageNo"
           asp-route-pageSize="50">
            50
        </a>
        <a class="btn btn-primary"
		   asp-page="/CustomerDB/Index"
           asp-route-q="@Model.Q"
           asp-route-searchSubject="@Model.SearchSubject"
		   asp-route-sortColumn="@Model.SortColumn"
		   asp-route-sortOrder="@Model.SortOrder"
		   asp-route-pageNo="@Model.PageNo"
		   asp-route-pageSize="100">
			100
		</a>


        <a class="btn btn-primary" 
           asp-page="CreateNew">
            <i class='bx bxs-user-plus'></i>
            Create New Customer
        </a>


        <form action="/CustomerDB/CustomerImage" >

            <label for="CustomerId">Find customer by ID:</label><br>
            <input type="text" id="CustomerId" name="CustomerId" value=""><br>

            <input type="submit" value="Submit" class="btn btn-secondary">

        </form>



    </div>


    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        First name
                        <a 
                           asp-page="/CustomerDB/Index"
                           asp-route-q="@Model.Q"
                           asp-route-searchSubject="@Model.SearchSubject"
                           asp-route-sortColumn="Givenname"
                           asp-route-sortOrder="asc"
                           asp-route-pageSize="@Model.PageSize">
                            <i class='bx bx-chevron-up'></i>
                        </a>
                        <a 
                           asp-page="/CustomerDB/Index"
                           asp-route-q="@Model.Q"
                           asp-route-searchSubject="@Model.SearchSubject"
                           asp-route-sortColumn="Givenname"
                           asp-route-sortOrder="desc"
                           asp-route-pageSize="@Model.PageSize">
                            <i class='bx bx-chevron-down'></i>
                        </a>
                    </th>
                    <th> 
                        Last name
                        <a
                           asp-page="/CustomerDB/Index"
                           asp-route-q="@Model.Q"
                           asp-route-searchSubject="@Model.SearchSubject"
                           asp-route-sortColumn="Surname"
                           asp-route-sortOrder="asc"
                           asp-route-pageSize="@Model.PageSize">
                            <i class='bx bx-chevron-up'></i>
                        </a>
                        <a
                           asp-page="/CustomerDB/Index"
                           asp-route-q="@Model.Q"
                           asp-route-searchSubject="@Model.SearchSubject"
                           asp-route-sortColumn="Surname"
                           asp-route-sortOrder="desc"
                           asp-route-pageSize="@Model.PageSize">
                            <i class='bx bx-chevron-down'></i>
                        </a>
                    </th>
                    <th>
                        City
                        <a asp-page="/CustomerDB/Index"
                           asp-route-q="@Model.Q"
                           asp-route-searchSubject="@Model.SearchSubject"
                           asp-route-sortColumn="City"
                           asp-route-sortOrder="asc"
                           asp-route-pageSize="@Model.PageSize">
                            <i class='bx bx-chevron-up'></i>
                        </a>
                        <a asp-page="/CustomerDB/Index"
                           asp-route-q="@Model.Q"
                           asp-route-searchSubject="@Model.SearchSubject"
                           asp-route-sortColumn="City"
                           asp-route-sortOrder="desc"
                           asp-route-pageSize="@Model.PageSize">
                            <i class='bx bx-chevron-down'></i>
                        </a>
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        National ID
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var customer in Model.Customers)
                {
                    <tr>
                        <td>@customer.Givenname</td>
                        <td>@customer.Surname</td>
                        <td>@customer.City</td>
                        <td>@customer.Streetaddress</td>
                        <td>@customer.NationalId</td>
                        <td>
                            <a class="btn btn-primary"
                                asp-page="CustomerImage" 
                                asp-route-customerId="@customer.CustomerId" >
                                View
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-primary"
                                asp-page="Edit" 
                                asp-route-customerId="@customer.CustomerId">
                                Edit
                                </a>
                        </td>

                    </tr>
                }


                <tr>
                    <td>
                        @if (Model.PageNo != 1)
                        {
                            <a class="btn btn-secondary"
                               asp-page="/CustomerDB/Index"
                               asp-route-q="@Model.Q"
                               asp-route-searchSubject="@Model.SearchSubject"
                               asp-route-sortColumn="@Model.SortColumn"
                               asp-route-sortOrder="@Model.SortOrder"
                               asp-route-pageSize="@Model.PageSize"
                               asp-route-pageNo="@(Model.PageNo-1)"
                            >
                                Prev
                            </a>
                        }
                    </td>


                    <td colspan="2">
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <a class="btn @(Model.PageNo == i ? "btn-primary" : "btn-secondary")"
                               asp-page="/CustomerDB/Index"
                               asp-route-q="@Model.Q"
                               asp-route-searchSubject="@Model.SearchSubject"
                               asp-route-sortColumn="@Model.SortColumn"
                               asp-route-sortOrder="@Model.SortOrder"
                               asp-route-pageSize="@Model.PageSize"
                               asp-route-pageNo="@i"
                            >
                                @i
                            </a>
                        }
                    </td>


                    <td>
                        @if (Model.PageNo != Model.PageCount)
                        {
                            <a class="btn btn-secondary"
                               asp-page="/CustomerDB/Index"
                               asp-route-q="@Model.Q"
                               asp-route-searchSubject="@Model.SearchSubject"
                               asp-route-sortColumn="@Model.SortColumn"
                               asp-route-sortOrder="@Model.SortOrder"
                               asp-route-pageSize="@Model.PageSize"
                               asp-route-pageNo="@(Model.PageNo + 1)"
                            >
                                Next
                            </a>
                        }
                    </td>


                </tr>

            </tbody>

        </table>
    </div>
</div>

@section scripts
{
    @* När jag skapade det här scriptet använde jag mig av google och stackoverflow som hjälp. *@

    <script type="text/javascript">

        let subject = "thing"

        $("#search-button-name").click(function(ev){
            subject = "Name"
        });

        $("#search-button-city").click(function(ev){
            subject = "City"
        });

        $('#search-form').submit(function(eventObj) {
            $(this).append('<input type="hidden" name="searchSubject" value="' + subject + '" /> ');
            return true;
        });


    </script>
}